@import "./../variables.scss";


.About {

    // General =================== 
    background-color: black;
    color: white;

    a {
        color: white;
    }

    .about__container {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .about__header {
        text-align: right;
        padding: 20px 0 40px;;
    }

    .about__footer {
        padding: 20px 0 40px;;
    }

    .about__section {
        margin-bottom: 4rem;
    }

    .about__section__title {
        font-weight: bold;
        padding-bottom: 0.66rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid white;
    }

    .about__back-to-top {
        text-align: right;
    }


    // Contact ===================

    .about__section--contact .about__section__content{
        // @include font--large;
    }

    .contact-icon-container {
        text-align: right;
    }

    .contact-icon {
        display: inline;
        background-color: white;
        height: 30px;
        margin-left: 10px;
    }


    // Bio ===================

    .about__section--bio .about__section__content {
        @media (max-width: $screen_viewport_sm) {
            @include font--large;
        }

        @include font--xlarge;
        font-weight: 100;
    }

    // Services ===================
    
    .about__section--services .about__section__content {
        // @media (max-width: $screen_viewport_sm) {
        //     @include font--large;
        // }

        @include font--large;
        font-weight: 100;
    }
  
    .about__section--services .about__section__content ul li{
        margin-bottom: 0.66rem;
    }

    // Clients ===================

    .about__section--clients .about__section__content {
        // line-height: 1.15;
        // @include font--regular;
        @include font--large;
    }
  
    .about__section--clients .about__section__content ul li{
        margin-bottom: 0.5rem;
    }

    // Recognition ===================

    .about__section--recognition .about__section__content {
        // @include font--regular; // This is getting overridden for some reason, so I'm hard-coding the mixin:
        font-size: calc($font-size--regular*.8);
        line-height: calc($line-height--regular*.8);

        @media (min-width: $screen_viewport_sm) {
            @include font--small;
        }
    }

    .about__section--recognition .about__section__content ul {
        margin-bottom: 1rem;
    }

    .about__section--recognition .about__section__content ul li:first-child {
        font-weight: bold;
    }

    .about__section--recognition .about__section__content ul li {
        margin-bottom: 0.25rem;
    }

    .about__modal-links li:not(:first-child) {
        cursor: pointer;
        &:hover {
            color: $color--highlight;
        }
    }
  }