@import "variables.scss";


.About {

    // General =================== 
    background-color: black;
    color: white;

    a {
        color: white;
    }

    .about__container {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .about__header {
        text-align: right;
        padding: 20px 0 40px;;
    }

    .about__section {
        margin-bottom: 4rem;
    }

    .about__section__title {
        font-weight: bold;
        padding-bottom: 0.66rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid white;
    }


    // Contact ===================

    .contact-icon-container {
        text-align: right;
    }

    .contact-icon {
        display: inline;
        background-color: white;
        height: 30px;
        margin-left: 10px;
    }


    // Bio ===================

    .about__section--bio .about__section__content {
        // text-align: justify;
        font-size: $font-size--xxxlarge;
        font-weight: 100;
        line-height: 1.15;
    }

    // Services ===================
    
    .about__section--services .about__section__content {
        font-size: $font-size--xlarge;
        font-weight: 100;
        line-height: 1.15;
    }
  
    .about__section--services .about__section__content ul li{
        margin-bottom: 0.66rem;
    }

    // Clients ===================

    .about__section--clients .about__section__content {
        line-height: 1.15;
    }
  
    .about__section--clients .about__section__content ul li{
        margin-bottom: 0.5rem;
    }

    // Recognition ===================

    .about__section--recognition .about__section__content {
        font-size: $font-size--small;
    }

    .about__section--recognition .about__section__content ul li:first-child {
        font-weight: bold;
    }

    .about__section--recognition .about__section__content ul li {
        margin-bottom: 0.25rem;
    }


  }