@import "variables.scss";

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size--regular;
  line-height: 1.33;
}

.contained {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}

strong {
  font-weight: 700;
}