@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "variables.scss";

html {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: $font-size--regular;
  line-height: 1.33;
}

strong {
  font-weight: 700;
}

.hide-on-mobile {
  display: none;

  @media only screen and (min-width: $breakpoint--mobile) {
    display: block;
  }
}

img {
  width: 100%;
}
