@import "variables.scss";

.CoverHeader {

    padding-bottom: 2rem;
    padding-top: 2rem;

    .cover__header__title {
        font-weight: bold;
    }

    .cover__header__description {
        text-align: right;
    }
  
}
  