@import "variables.scss";


// Flex approach ==================

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.columns--nowrap {
    flex-wrap: nowrap;
}

@media only screen and (min-width: $breakpoint--mobile) {
    //2 columns
    .columns--2 {
        margin-left: -1.33%;
    }
    
    .columns--2 div {
        width: 48.66%;
        margin-left: 1.33%;
    }



    // 3 columns
    .columns--3 {
        margin-left: -1.33%;
    }
    
    .columns--3 div {
        width: 32%;
        margin-left: 1.33%;
    }

    .columns--3--hero div:nth-child(1) {
        width: 65.33%;
    }
    
    .columns--3--hero--right div:nth-child(2) {
        width: 65.33%;
    }
}


// Grid approach ==================

// .columns {
//     display: grid;
//     justify-content: space-between;
//     grid-template-columns: 32% 32% 32%;
// }

// .columns--3--hero div:nth-child(1) {
//     grid-column-end: span 2;
// }
// .columns--3--hero--right div:nth-child(2) {
//     grid-column-end: span 2;
// }

