@import "variables.scss";


.Home {

    .home__header-wrapper {
        background-color: black;
        color: white;
        font-size: $font-size--regular;
        line-height: $line-height--regular;
        padding-bottom: 6rem;
        padding-top: 6rem;
    }

    .home__header {
        @include contained;
    }

    .home__header__title {
        font-weight: 700;
    }

    .home__header__headline {
        // font-weight: 500;
    }


  }


  .CoverWhales {
      color: red;

      .cover__container {
          
      }
  }

