.Loader {
    .ripple {
        width: 2rem;
        height: 2rem;
        margin: 2rem;
        border-radius: 50%;
        border: 0.3rem solid white;
        transform: translate(50%);
        animation: 0.75s ripple ease-out infinite;
      }

    @keyframes ripple {
        from {
            transform: scale(0);
            opacity: 1;
        }
        
        to {
            transform: scale(1);
            opacity: 0;
        }
    }
}
      