.Modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    .Modal__bg {
        background-color: black;
        opacity: 0.8;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .Modal__loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ripple {
        width: 2rem;
        height: 2rem;
        margin: 2rem;
        border-radius: 50%;
        border: 0.3rem solid white;
        transform: translate(50%);
        animation: 0.75s ripple ease-out infinite;
      }

    @keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }
    
    to {
        transform: scale(1);
        opacity: 0;
    }
    }
      
    .Modal__content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;

    }
}