@import "variables.scss";

.Project {
    .project__body {
        margin-top: 4rem;
    }

    section {
        margin-bottom: 5rem;
    }

    img {
        margin-bottom: 1rem;
    }

    .project__title {
        font-size: $font-size--xxx-large;
        font-weight: bold;
    }

    .project__subtitle {
        font-weight: bold;
    }

    .project__intro {
        margin-top: 2rem;
    }

    // Make global variable?
    .body-copy {
   
    }

    .note {
        font-size: $font-size--small;
    }

    .note p {
        margin-bottom: $font-size--small;
    }

    .note__title {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    .credit-list > li {
        margin-bottom: 0.25rem;
    }

    .project__section-title {
        font-size: $font-size--large;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}