@import "variables.scss";

.Project {
    .project__body {
        // margin-top: 4rem;
    }

    section {
        margin-bottom: 5rem;
    }

    img {
        margin-bottom: 1rem;
    }

    .project__image-stack img {
        margin-bottom: 0;
        display: block;
    }

    .project__intro-wrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .project__title {
        @include font--xxxlarge;
        font-weight: bold;
        margin-bottom: 0.5rem
    }

    .project__subtitle {
        // @include font--large;
        font-weight: bold;
    }

    .project__info {
        margin-top: 2rem;
    }

    // Make global variable?
    .body-copy {
   
    }

    .note {
        @include font--small;
    }

    .note__title {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    .credit-list {
        margin-bottom: 1rem;
    }

    .credit-list > li {
        margin-bottom: 0.25rem;
    }

    .project__section-title {
        @include font--xlarge;
        font-weight: bold;
        margin-bottom: 1rem;
    }


    // For iframe projects:
    .iframe-wrapper {
        overflow: hidden;
    }

    .project-iframe {
        margin-top: -30px;
        width: 100%;
    }
}