@import "variables.scss";


.Work {
    margin-bottom: 10rem;
    margin-top: 10rem;

    .cover {
        margin-bottom: 10rem;
    }

    .cover__header {
        @include contained;
        display: flex;
        background-color: white;
        justify-content: space-between;
        padding-bottom: 2rem;
        padding-top: 2rem;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .cover__header div {
        flex-basis: 31%;
    }

    .cover__header__title {
        font-weight: bold;
    }

    .cover__header__description {
        text-align: center;
    }

    .cover__header__action {
        text-align: right;
    }

    .cover__body {
        @include contained;
    }

    .cover__body img {
        object-fit: cover;
        width: 100%;
    }

    .cover__header--fixed-top {
        color: red;
        position: absolute;
        top: 0;
        transition: 1s;
    }
    

  }