@import "variables.scss";


.Work {
    margin-bottom: 10rem;
    margin-top: 10rem;

    .cover {
        margin-bottom: 10rem;
    }

    .cover a {
        text-decoration: none;
        color: $color-text;
    }

    .cover a .cover__body:hover {
        text-decoration: underline;
    }

    .cover__header {
        
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        z-index: 1;
    }

    .cover__body {
        // @include contained;
    }

    .cover__body img {
        object-fit: cover;
        width: 100%;
    }

    .cover__header--fixed-top {
        color: red;
        position: absolute;
        top: 0;
        transition: 1s;
    }

    //to put in a cover-specific style scope?
    .cover__video {
        width: 100%;
    }
    

  }