@import "../../variables.scss";

$color--trusat-blue-dark: #0A1121;
$color--trusat-blue-medium: #112b49;

.CoverTrusat {
 
}

.Trusat {
    .trusat__section__title {
        // TEMP
        height: 10rem; 


        display : flex;
        align-items : center;
        justify-content: center;

        background-color: $color--trusat-blue-dark;
        color: $color--background;
        @include font--xxxlarge;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 0.75rem;
    }

    .trusat__section__body {
        // padding-top: 4rem;
        padding-top: 6rem;
    }

    .trusat__subsection {
        margin-bottom: 6rem;
    }


    .trusat__subsubsection {
        margin-bottom: 4rem;
    }

    .trusat__subsubsection--problem {
        margin-bottom: 2rem;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        border: 1px solid green;
    }

    .trusat__vid-screenshot {
        margin-bottom: 2rem;
    }

    .trusat__video > div {
        position: absolute; // Scaling will occur since parent is relative now
      }

    .trusat__avatar {
        max-width: 240px;
    }

    .trusat__section--research .trusat__section__body {
        padding-top: 0;
    }

    .trusat__section--blue {
        color: white;
        background-color: $color--trusat-blue-medium;
        
        padding-top: 6rem;
        padding-bottom: 1rem;
    }

    .trusat__section--research1 {
        margin-bottom: 6rem;
    }

    .trusat__research__caption-offset--3 {
        padding-top: 3rem;
    }

    .trusat__research__caption-offset--1 {
        padding-top: 1rem;
    }

    .trusat__section--bottom {
        margin-bottom: 0;
    }
}