@import "../../variables.scss";

$color--trusat-blue-dark: #0A1121;

.CoverTrusat {
 
}

.Trusat {
    .trusat__section__title {
        // TEMP
        height: 10rem; 
        margin-bottom: 8rem;

        display : flex;
        align-items : center;
        justify-content: center;

        background-color: $color--trusat-blue-dark;
        color: $color--background;
        @include font--xxxlarge;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .trusat__section__body {
        // padding-top: 4rem;
    }

    .trusat__subsection {
        margin-bottom: 6rem;
    }


    .trusat__subsubsection {
        margin-bottom: 4rem;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        border: 1px solid green;
    }

    .trusat__vid-screenshot {
        margin-bottom: 2rem;
    }

    .trusat__video > div {
        position: absolute; // Scaling will occur since parent is relative now
      }

    .trusat__avatar {
        max-width: 240px;
    }

}